[user]
	name = Timothy Blamires
	email = tblamires@lucidchart.com
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	pager = delta
	excludesfile = /Users/timothyblamires/.gitignore_global
	editor = nvim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	s = status
	d = diff
	dc = diff --cached
  co = checkout
  as = !git fetch origin master && git rebase origin/master -i --autosquash
  fpush = push --force-with-lease --atomic
  qamend = commit --amend --no-edit
  fr = !git fetch origin master && git rebase origin/master
  nb = "!f() { git fetch origin master && git checkout -b \"$1\" origin/master; }; f"
[push]
	default = current
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    hyperlinks = true
[merge]
    conflictStyle = zdiff3
