[user]
	name = Timothy Blamires
	email = tblamires@lucidchart.com
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	pager = delta
	excludesfile = /Users/timothyblamires/.gitignore_global
	editor = nvim
	autocrlf = input
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	s = status
	d = diff
	dc = diff --cached
  co = checkout
  as = !git fetch origin main && git rebase origin/main -i --autosquash
  fpush = push --force-with-lease --atomic
  rs = restore
  rss = restore --staged
  qamend = commit --amend --no-edit
  fr = !git fetch origin main && git rebase origin/main
  nb = "!f() { git fetch origin main && git checkout -b \"$1\" origin/main; }; f"
[push]
	default = current
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    hyperlinks = true
[merge]
    conflictStyle = zdiff3
